/*** SEARCH HEADER STYLES ***/

#searchHeader {
  margin: 5% 18% 0;
  padding: 4% 2% 2% 2%;
  border: solid black 1px;
  border-bottom: 0;
}

#queryInput {
  width: 15%;
}

/*** STREAM LIST STYLES ***/
.navArrows:hover {
  cursor: pointer;
}

#streamList {
  margin: 0 18% 5%;
  padding: 0.5% 2% 1%;
  border: solid black 1px;
}

#pageSwitch {
  float: right;
}

.streamBlocks {
  height: 18%;
  margin-top: 3%;
  display: table;
}

.streamBlocks span {
  display: table-cell;
  vertical-align: middle;
}

.streamBlocks img {
  display: table-cell;
  margin-right: 25px;
 
}