/*** SEARCH HEADER STYLES ***/

#searchHeader {
  margin: 5% 18% 0;
  padding: 4% 2% 2% 2%;
  border: solid #6441A5 2px;
  border-bottom: 0;
}

#queryInput {
  font-family: 'Oswald', sans-serif;
  width: 15%;
}

#querySubmit {
  font-family: 'Oswald', sans-serif;
}

/*** STREAM LIST STYLES ***/
.navArrows:hover {
  cursor: pointer;
}

#listBody {
  width: 100%;
}

#streamList {
  margin: 0 18% 5%;
  padding: 0.5% 0.5%;
  border: solid #6441A5 2px;
}

#pageSwitch {
  float: right;
}

.streamBlocks {
  width: 100%;
  height: 18%;
  display: table;
  table-layout: fixed;
}

.streamBlocks:hover {
  border: solid #6441A5 2px;
}

.streamName {
  font-family: 'Oswald', sans-serif;
}

.gameName, .numberViewers {
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-family: 'Fjalla One', sans-serif;
}

.streamBlocks tr {
  width: 100%;
}

.tableImage {
  width: 35%;
}

.tableImage:hover {
  cursor: pointer;
}

.streamBlocks img {
  width: 90%;
  float: left; 
}